## Load libraries

In [3]:
from gensim.models import Word2Vec
from gensim.models import KeyedVectors
from gensim.utils import simple_preprocess

import numpy as np
np.random.seed(0)
import pandas as pd

from sklearn.metrics import f1_score

In [26]:
ls InputData

 Volume in drive C is OSDisk
 Volume Serial Number is DE9E-6BDB

 Directory of C:\Users\mw79fw\OneDrive - ING\Documents\Python_projects\NLP_projects\InputData

03.12.2021  18:13    <DIR>          .
03.12.2021  18:13    <DIR>          ..
02.11.2021  16:19         4ÿ486ÿ080 tweets_airline.h5
               1 File(s)      4ÿ486ÿ080 bytes
               2 Dir(s)  216ÿ850ÿ579ÿ456 bytes free

In [8]:
# load data
df = pd.read_hdf('InputData/tweets_airline.h5')

In [10]:
df.sample(1)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
13983,569682010270101504,negative,0.6163,Late Flight,0.6163,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)

In [36]:
# create folder dedicated to tweets_airline
mkdir Models\tweets_airline

we will be tokenize `text` variable